.form {

}

.field {
    width: 70%;
    padding: 5px 10px;
    font-size: 16px;

}

.button {
    display: block;
    background-color: #2d6abb;
    font-size: 14px;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-top: 6px;
}
.notesBlock {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.notesList {
    width: 49%;
}

.list {
    width: 49%;
}