.item {
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #000;
    background-color: #dc6a64;
    margin-bottom: 10px;
    position: relative;
}

.buttonDelete {
    position: absolute;
    top: 3px;
    right: 3px;
}


.text {
    font-style: italic;
}